@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Encode+Sans+SC:wdth,wght@75..125,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html{
    font-size: 62.5%;
}
body{
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    mix-blend-mode: overlay;
} 
header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.name-tag{
    font-size: 2.5rem;
    color: #ff8772;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: "Dancing Script";
    font-weight: 480;
}
.name-tag:hover{
    transform: scale(1.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu{
    display: none;
}
nav a{
    display: flex;
    font-size: 1.8rem;
    color: white;
    margin-left: 3rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 480;
}
nav a:hover,
nav a.active{
    color:#ff8772;
    border-bottom: 3px solid #ff8772;
    padding: 1rem;
    border-radius: 0.5rem;
}
.sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.925);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    margin-top: 30px;
}
.sidebar a{
    width: 100%;
}
section{
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.logo-img img{
    position: relative;
    width: 260px;
    border-radius: 50%;
    border: 10px #ff8772;
    
}
.elements{
    position: relative;
    z-index: 10;
}
.elements h1{
    font-family: "Encode Sans SC", sans-serif;
    line-height: 1.3;
}
.elements h3{
    font-weight: 700;
}
.professions{
    font-family: "Encode Sans SC", sans-serif;
    font-size: 30px;
}
.professions span{
    position: relative;
}
.professions span::before{
    content: "";
    color: #ff8772;
    animation: words 20s infinite;
}
.professions span::after{
    animation: cursor 0.6s infinite;
}
.elements p{
    font-family: "Dancing Script", cursive;
}
span{
    color: #ff8772;
}
.social-symbols a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    border: 0.2rem solid #ff8772;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1rem 1.5rem 0;
    transition: 0.3s ease;
    color: #ff8772;
}
.social-symbols a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #ff8772;
    box-shadow: 0  0 25px #ff8772;
}
.clck{
    font-family: "Dancing Script", sans-serif;
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #ff8772;
    letter-spacing: 0.2rem;
    border: 2px solid #ff8772;
    transition: 0.3s ease;
    cursor: pointer;
}
.clck:hover{
    transform: scale3d(1.03);
    background-color: #ff8772;
    color: black;
    box-shadow: 0 0 25px #ff8772;
}
.card{
    padding: 2em;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    background-color: rgba(rgba(0, 0, 0, 0.01));
    backdrop-filter: blur(10px);
    text-align: center;
    z-index: 10;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    margin: 8%;
    font-size: medium;
} 
@media(max-width:2560px){
    .elements h1{
        font-size: 6rem;
    }

    .elements h3{
        font-size: 3.5rem;
    }
    .elements p{
        font-size: 2rem;
    }
}
@media(max-width:1440px){ 
    .elements h1{
        font-size: 4rem;
    }

    .elements h3{
        font-size: 2.5rem;
    }
    .elements p{
        font-size: 1.5rem;
    }
}
@media(max-width: 768px){
    .content{
    flex-direction: column;
    gap: 2rem;
    }
    .hide{
    display: none;
    }
    .menu{
    display: block;
    }
    .elements h1{
        font-size: 5rem;
    }
    .elements h3{
        font-size: 2.5rem;
    }
    .elements p{
        font-size: 1.8rem;
    }
}
@media(max-width: 425px){
    .elements h1{
        font-size: 3rem;
    }
    .elements h3{
        font-size: 1.6rem;
    }
    .elements p{
        font-size: 1.2rem;
    }
}
@media(max-width: 320px){
    .sidebar{
    width: 100%;
    }
    
}
@keyframes words{
    0%, 20%{
        content: "aspiring cyber security expert";
    }
    21%, 40%{
        content: "programmer";
    }
    41%, 60%{
        content: "developer";
    }
    61%, 80%{
        content: "entrepreneur";
    }
    81%, 100%{
        content: "photographer";
    }
}